<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
     <servlet-name>DataServlet</servlet-name>
     <servlet-class>chu.server.test.DataServlet</servlet-class>
  </servlet>
  <servlet>
       <servlet-name>DoLoginServlet</servlet-name>
       <servlet-class>chu.server.test.DoLoginServlet</servlet-class>
  </servlet>
  <servlet>
       <servlet-name>UserTicketServlet</servlet-name>
       <servlet-class>chu.server.test.UserTicketServlet</servlet-class>
  </servlet>
  <servlet>
       <servlet-name>InsertServlet</servlet-name>
       <servlet-class>chu.server.test.InsertServlet</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>GetUserTicketInfo</servlet-name>
        <servlet-class>chu.server.test.GetUserTicketInfo</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>ModifyPswServlet</servlet-name>
        <servlet-class>chu.server.test.ModifyPswServlet</servlet-class>
  </servlet>
  <servlet>
        <servlet-name>DeleteUserTicketServlet</servlet-name>
        <servlet-class>chu.server.test.DeleteUserTicketServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
     <servlet-name>DataServlet</servlet-name>
     <url-pattern>/dataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
      <servlet-name>DoLoginServlet</servlet-name>
      <url-pattern>/doLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
       <servlet-name>UserTicketServlet</servlet-name>
       <url-pattern>/userTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
       <servlet-name>InsertServlet</servlet-name>
       <url-pattern>/insertServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
        <servlet-name>GetUserTicketInfo</servlet-name>
        <url-pattern>/getUserTicketInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
        <servlet-name>ModifyPswServlet</servlet-name>
        <url-pattern>/modifyPswServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
         <servlet-name>DeleteUserTicketServlet</servlet-name>
         <url-pattern>/deleteUserTicketServlet</url-pattern>
  </servlet-mapping>
</web-app>
